input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    background-color: var(--Light-grey);
    font-family: 'Poppins', sans-serif;
}
:root{
    --purple--:hsl(259, 100%, 65%);
    --light-red:hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --input-font:32px;
    --boldsm:400;
    --boldmd:700;
    --boldlg:800;
}
.container-full{
    width: 100%;
    display: grid;
    place-items: center;
}
.container{
    width: 260px;
    padding: 16px;
    margin: 10px;
    border-radius: 20px 20px 80px 20px;
    height: auto;
    background-color: var(--white);
}
.input-fecha{
    width: 100%;
    height: 20vh;
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}
.input-fecha div label{
    color: var(--smokey-grey);
}
.input-fecha div input{
    width: 65px;
    height: 30px;
    padding: 6px;
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid var(--smokey-grey);
    outline: none;
    font-size: 20px;
    font-weight: var(--boldlg);
    cursor: pointer;
    
}
.input-fecha div p{
    font-size: 10px;
    color: var(--light-red);
}
.input-fecha div input:focus{
    border: 1px solid var(--purple--);
}
.btn-line-enter{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-line-enter .btn-enter{
    background-color: var(--purple--);
    border: none;
    border-radius: 50px;
    padding: 8px;
    cursor: pointer;
    
}
.btn-line-enter .btn-enter:hover{
    background-color: var(--Off-black);
    
    
}
.btn-line-enter .btn-enter img{
    width: 30px;
    
}
.fecha-escrita p{
    font-weight: 800;
    font-size: 35px;
    margin-left: 20px;
}
.fecha-escrita p  b{
    margin-right: 20px;
    font-size: 40px;
    color: var(--purple--);
}
@media (min-width:640px) {
    .container-full{
        height: 100vh;

    }
    .container{
        min-width: 600px;
        padding: 50px;
        
    }
    .btn-line-enter .btn-enter img{
        width: 60px;
        
    }
    .input-fecha,.fecha-escrita{
        display: flex;
        justify-content: center;
    }
    .input-fecha > div{
        display: flex;
        flex-direction: column;
    }
    .input-fecha div input{
        width: 150px;
        height: 30px;
        
    }
    
}
